<!DOCTYPE html>
<html lang="ko">
<head>
    <title>api모음</title>
    <link rel="stylesheet" href="css.css">
</head> 
<body>
    <header>
        <div>
            <h1>api 삭제하기</h1>
            <a href="/post">api 추가하기</a>
            <a href="/get">api 불러오기</a>
        </div>
    </header>
    <div>
        <form method="post" action="/delete">
            <input id="apilink" name="apilink" value="" type="url" placeholder="api주소">
            <input id="apikey" name="apikey" value="" type="text" placeholder="apikey">
            <input id="query_id" name="query_id" type="text" value="" placeholder="삭제시킬 api id">
            <input type="submit" value="쿼리전송">
        </form>
        <div>
            <p></p>
        </div>
    </div>
</body>
</html>