<!DOCTYPE html>
<html lang="ko">
<head>
    <title>api모음</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <header>
        <div>
            <h1>api</h1>
        </div>
    </header>
    <a href="get">api불러오기</a>
</body>
</html>