<header>
    <div>
        <ul class="headerul">
            <li class="headerul"><a href="/post">api불러오기</a></li>
            <li class="headerul"><a href="/put">api추가하기</a></li>
            <li><a href="/delete">api삭제</a></li>
        </ul>
    </div>
</header>